<!DOCTYPE html>
<html lang='en-US'>
	<head>
		<title>Sleepless</title>
		<meta charset='utf-8'/>
		<!-- Website description -->
		<meta name='description' content=''/>
		<meta name='author' content='Matthew Chan'/>
		<meta name='keywords' content=''/>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'/>
		<meta name='viewport' content='width=device-width; initial-scale=1.0;'/>


		<!-- Bootstrap CSS -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' type='text/css'/>
		<!-- Custom CSS styles 
		<link rel='stylesheet' href='stylesheets/stylesheet.css' type='text/css'/>
		-->
		<!-- Lato font -->
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900' type='text/css'/>
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lora|PT+Sans|PT+Serif|Raleway|Rokkitt|Satisfy|Source+Sans+Pro" rel="stylesheet"/>
		<!-- jQuery -->
		<script src='../javascripts/jquery.min.js' type='text/javascript'></script>
		<!-- Bootstrap JS -->
		<script src='../javascripts/bootstrap.min.js' type='text/javascript'></script>
		<!-- AngularJS -->
		<script src='../javascripts/angular.min.js' type='text/javascript'></script>
		<!-- AngularJS UI Router -->
		<script src='../javascripts/angular-ui-router.min.js' type='text/javascript'></script>
		<!-- Custom Angular Application -->
		<script src='../javascripts/sleeplessApp.js' type='text/javascript'></script>
		

		<!-- Custom styles -->
		<style>
		/* General page styles */
		html, body {
			background-image: url("../images/wallpapers/graf.jpg");
			font: 300 22px/150% 'Raleway', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
			height: 100%;
			min-height: 100%;
			max-width: 100%;
			padding-top: 25px;
			line-height: 150%;
		}
		/* Header font styles */
		h1, h2, h3, h4, h5, nav li, cite {
			font-family: 'Raleway';
		}
		p {
			font-family: 'Rokkitt';
			font-size: 17px;
			line-height: 120%;
		}
		h3 {
			color : black;
		}
		nav li {
			font-size: 16px;
		}
		/* Adjust navbar height */
		.navbar-nav > li > a {
			padding-top: 30px !important; 
			padding-bottom: 30px !important;
		}
		.navbar {
			min-height: 80px !important;
			font-size: 20px;
		}
		/* Blur an image */
		.blur {
			filter: blur(8px);
			-webkit-filter: blur(8px);
			-moz-filter: blur(5px); 
			-o-filter: blur(5px); 
			-ms-filter: blur(5px); 
		}
		/* Main page topic formatting */
		.topic img {
			border-radius: 5px;
			max-width: 100%;
		}
		/* COLORS
		carrot #EAC67A\
		dark purple #0E0B16
		violet 
		*/
		.topic p {
			color: black;
		}
		/* Remove underlines from links */
		a, a:hover, a:visited {
			text-decoration: none !important;
			color: black;
		}

		a:hover {
			color: #888;
			border-color: #888;
		}
		/* Contact card styling */
		.bio {
		  border: 1px solid #888;
		  border-radius: 5px;
		  padding-bottom: 22px;
		  text-align: center;
		  margin-top: 66px;
		  width: 100%;
		}
		.bio ul {
			text-align: center;
			list-style: none;
			padding: 0;
		}
		.bio img {
		  width: 130px;
		  height: 130px;
		  border-radius: 50%;
		  border: 1px solid #888;
		  margin: -66px 0 5px 0;
		}
		.description h3 {
			text-transform: uppercase;
			font-size: 18px;
			margin-top: -4px;
			margin-bottom: 50px;
		}
		.description p {
			font-size: 20px;
		}

		</style>

	</head>


	<body ng-app='sleeplessApp'>
		<div class='container'>

			<!-- Navigation bar -->
			<nav class='navbar navbar-inverse navbar-fixed-top'>
				<div class='container-fluid container'>

					<div class='navbar-header'>
				      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#siteNav'>
				        <span class='icon-bar'></span>
				        <span class='icon-bar'></span>
				        <span class='icon-bar'></span> 
				      </button>
				      <a class='navbar-brand text-uppercase' href='#/home' style='margin-top: 15px; font-size: 25px; color: white'>sleepless</a>
				    </div>
				    <div class='collapse navbar-collapse' id='siteNav'>
						<ul class='nav navbar-nav navbar-right'>
							<li class='active'><a href='#/home'>Home</a></li>
							<li><a href='#/members'>Members</a></li>
							<li><a href='#/footage'>Footage</a></li>
							<li><a href='#/contact'>Contact Info</a></li>
						</ul>
					</div>

				</div>
			</nav>

			<!-- Page content here -->
			<div style='background: white' ui-view></div>

			<!-- Footer --> 
			<footer class='footer' style='background: white'>
				<!-- Copyright -->
				<div class='row container' style='color: #E8E8E8; padding: 10px 55px;'>
					<hr/>
					<cite class='pull-right' style='font-size: 15px; margin-right: 22px; color: black'>
						&copy;&nbsp;Sleepless 2016
					</cite>
				</div>
			</footer>

		</div>

	</body>
</html>