<!-- Banner -->
<div class='row container'>
	<div class='banner-wrap'>
		<!-- Banner image -->
		<img class='blur' src='../images/banners/footage.jpg' style='top: -250px;' alt=''/>

		<!-- Banner text -->
		<div class='col-md-4 col-md-offset-4 banner-header-wrap'>
			<h1 class='text-center text-uppercase banner-header'><strong>contact</strong></h1>
		</div>

	</div>
</div>

<div class='row container topic-padding'>
	<div class=''>
		<section class='topic col-md-12'>
			<h2>Booking</h2>
			<p>In the past, we've gotten requests to perform for local events and cultural shows. If you're interested in having us perform for your event, send us an email at sleeplesscrewla@gmail.com or text us at (610)500-3292.</p>			
			<div class='topic-img-wrap'>
				<img src='images/thumbnails/contact.jpg' alt='crew photo'/>
			</div>
		</section>
	</div>
</div>
<hr/>
<div class='row container topic-padding'>
	<div class=''>
		<section class='topic col-md-12'>
			<h2>Sessions</h2>
			<p>We typically session at UCLA / USC during the school year and Juice / Open House year-round. Check out UCLA Freestylin' Sessions and USC Street Dance Society on Facebook for specific details about dates and times.</p>
			<div class='topic-img-wrap'>
				<img src='images/thumbnails/battles.jpg' alt='crew photo'/>
			</div>
		</section>
	</div>
</div>