<!-- Banner -->
<div class='row container'>
	<div class='banner-wrap'>
		<!-- Banner image -->
		<img class='blur' src='../images/banners/members.jpg' style='top: -150px;' alt=''/>

		<!-- Banner text -->
		<div class='col-md-4 col-md-offset-4 banner-header-wrap'>
			<h1 class='text-center text-uppercase banner-header'><strong>footage</strong></h1>
		</div>

	</div>
</div>


<div class='row container topic-padding'>
	<div class=''>
		<section class='topic col-md-12'>
			<h2>Show Reel</h2>
			<p>We don't record our practices often, so there's no show reel of our entire crew just yet. However, some of our crew members helped put together a video for another crew we're close friends with, BRKN Folks. So check out their work and enjoy.</p>
			<div class='col-md-12' style="width: 100%; margin-top: 22px;">
				<iframe width=100%  height=600 src='https://player.vimeo.com/video/89682405' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</section>
	</div>
</div>
