<!-- Banner -->
<div class='row container banner'>
	<div class='center-block' style='overflow: hidden; height: 400px; width: 100%; position: relative;'>
		<!-- Banner image -->
		<img class='blur' src='../images/banners/home.jpg' style='width: 100%; position: absolute;' alt='Crew Banner Photo'/>

		<!-- Banner text -->
		<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4' style='position: relative; margin-top: 6%; padding-bottom: 6%; color: black'>
			<h1 class='text-center text-uppercase' style='font-size: 55px; font-family: "Permanent Marker"'><strong>sleepless</strong></h1>
			<h2 class='text-center text-uppercase' style='font-size: 18px'>lsangls | tokyo</h2>
		</div>

	</div>
</div>

<!-- LINKS -->
<div class='row container'>
	<a href='https://soundcloud.com/brian-an-phan/sleepinfolks-vol-01' target="_blank">
		<div class='col-md-6' style='background: #ff7700; height: 64px; text-align: center'>
			<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=white_transparent&size=64" style="width: 64px; height: 64px;"></iframe>
		</div>
	</a>
	<a href='https://vimeo.com/brianphan' target='_blank'>
		<div class='col-md-6' style='background: #1ab7ea; height: 64px; text-align: center'>
			<img src='../images/thumbnails/vimeo.jpg' alt='vimeo icon'/>
		</div>
	</a>
</div>

<div class='row container' style='padding: 2% 0;'>
	<div class=''>
		<section class='topic col-md-12' style='padding: 0 88px'>
			<h2>Our Crew</h2>
			<p>Sleepless is a small bboy crew started by a group of friends at UCLA who share a passion for hip-hop culture and dance. We originate from the LA area, but our friend group extends worldwide, as far as Tokyo and Seoul. You can find us at local jams within the LA area or at large breaking events like Freestyle Session or Concrete All-Stars. Otherwise, we're probably hitting up session spots in the area like Juice, Open House at LA Live Arts or UCLA / USC. Right now, we're focused on practicing our craft and honing our skills to compete in bigger jams.</p>
			<p>When we're not dancing, our crew loves to travel and explore our other passions such as music, photography and art. Feel free to check out our travel documentaries on Vimeo or our new breakbeat mixtape SleepinFolks on SoundCloud.</p>
			<div style=" margin-top: 44px; text-align: center">
				<img src='images/thumbnails/meet.jpg' alt='crew photo' style='margin: 0 auto;' height=500/>
			</div>
		</section>
	</div>
</div>

<div class='row container' style='padding-top: 2%; padding-bottom: 0;'>
	<section class='topic col-md-12' style='padding: 0; margin: 0; background: #1C1C1C'>
		<!--<h2 style='font-family: "Permanent Marker";'>Current Roster</h2>-->
		<div style='height: 250px; overflow: hidden;'>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/aaron.jpg' alt='goldnchild' style='border-radius: 0px'/>
				<p class='img-description'>GoldnChild</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/brian.jpg' alt='Archer' style='border-radius: 0px'/>
				<p class='img-description'>Archer</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/cho.jpg' alt='Sabertooth' style='border-radius: 0px'/>
				<p class='img-description'>Sabertooth</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/chris.jpg' alt='Fau5' style='border-radius: 0px'/>
				<p class='img-description'>Fau5</p>
			</div>
		</div>
		<div style='height: 250px; overflow: hidden;'>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/james.jpg' alt='Toothless' style='border-radius: 0px'/>
				<p class='img-description'>Toothless</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/komo.jpg' alt='KoRoc' style='border-radius: 0px'/>
				<p class='img-description'>KoRoc</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/matt.jpeg' alt='Chan' style='border-radius: 0px'/>
				<p class='img-description'>Chan</p>
			</div>
			<div class='img-wrap col-md-3' style='margin:0; padding:0;'>
				<img src='../images/members/yuma.jpg' alt='DirtySmooth' style='border-radius: 0px'/>
				<p class='img-description'>DirtySmooth</p>
			</div>
		</div>
	</section>
</div>