<!-- Banner -->
<div class='row container banner'>
	<div class='center-block' style='overflow: hidden; height: 500px; width: 100%; position: relative;'>
		<!-- Banner image -->
		<img class='blur' src='../images/banners/home.jpg' style='width: 100%; top: 0px; position: absolute;' alt='Crew Banner Photo'/>
		
		<!-- Banner text -->
		<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4' style='position: relative; margin-top: 6%; padding-bottom: 6%; color: black'>
			<h1 class='text-center text-uppercase' style='font-size: 55px'><strong>sleepless</strong></h1>
			<h2 class='text-center text-uppercase' style='font-size: 18px'>lsangls | tokyo</h2>
		</div>

	</div>
</div>

<!-- LINKS -->
<div class='row container' style='background: black'>

	<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=white_transparent&size=64" style="width: 64px; height: 64px;"></iframe>
</div>

<!-- Page content -->
<div class='row container' style='padding-top: 2%; padding-bottom: 0;'>
	<div class=''>
		<section class='topic col-md-4'>
			<h5>CREW MEMBERS</h5>
			<a href='crew.html'>
				<img src='images/thumbnails/meet.jpg' alt=''>
				<h3>Meet Sleepless</h3>
			</a>
			<p>Founded in 2010 by UCLA students, Sleepless is a group of friends who share a passion for the Hip-Hop culture and B-Boying. Our crew is based out of the Los Angeles and Westwood areas.</p>
		</section>
		<section class='topic col-md-4'>
			<h5>FOOTAGE</h5>
			<a href='battles.html'>
				<img src='images/thumbnails/battles.jpg' alt=''>
				<h3>Battles & Showcases</h3>
			</a>
			<p>All of our latest battles and performances can be found here. Check out some of our videos and be sure to leave us your feedback.</p>
		</section>
		<section class='topic col-md-4'>
			<h5>CONTACT</h5>
			<a href='contact.html'>
				<img src='images/thumbnails/contact.jpg' alt=''>
				<h3>Sessions</h3>
			</a>
			<p>Contact us for scheduling and booking. Also, if you are a B-boy or B-girl in the Los Angeles area looking for a spot to practice and vibe out, come join us for sessions! Regardless, send us a message and show us some love.</p>
		</section>
	</div>
</div>